<div class="container" style="margin-top: 30px">
  <app-title title="Overview"></app-title>
  <div class="row">
    <div class="col-sm-6" *ngFor="let chart of charts">
      <div class="card">
        <h5 class="card-header">Card Title</h5>
        <div class="card-body">
          {{chart}}
          <app-charts
            (pieChart)="pieChart($event)"
            (barChart)="barChart($event)">
          </app-charts>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container"  style="margin-top: 30px">
  <app-title title="User List"></app-title>
  <div class="row">
    <app-user-table></app-user-table>
  </div>
</div>
